# Виртуальное окружение
venv/
env/
.venv/

# Секреты и переменные окружения
.env
.env.*
*.key
*.pem
secrets/

# Python
__pycache__/
*.pyc
*.pyo
*.pyi

# Базы данных
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp

# Логи
*.log

# Docker
*.pid